*{
    margin: 0;
    padding: 0;
}

p{
    color: green;
}
p{
    color: rgba(230, 66, 11, 0.754);
}
.text-color{
    color: blue;
}
p.text-color{
   color: rgba(37, 204, 247,1.0);
}
h1.text-color{
background-color: antiquewhite;
}
/* .surikat{
    width: 100%;
    
    
} */
/* .local-surikat{
    width: 500px;
} */
body{
    background-image: url("https://i.pinimg.com/originals/f1/62/b6/f162b67bce900eec71f9c84dc11fe620.jpg");
    background-position: center;
    background-size: contain;
    background-repeat:repeat ;
}
