body {
  margin: 0;
}
.nav-bar {
  background-color: lightpink;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.nav-bar > a {
  color: beige;
  text-decoration: none;
  font-size: x-large;
}

.nav-bar > a:hover {
  color: black;
  transition: 1000ms;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 24px;
}

.product-card {
  position: relative;
  width: 300px;
  background-color: lightgray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card > h2 {
    font-size: large;
    width: 98%;
    display: block;
    overflow: hidden;
    height: 22px;
}

.product-card > img {
  width: 80%;
}

.product-price {
    display: block;
    position: absolute;
    top: 62px;
    right: 40px;
    color: white;
    background-color: #f76982c2;
    padding: 10px;
}

.product-price:hover {
    color: rgb(0, 0, 0);
    background-color: #f7002dd8;
}