@font-face {
  font-family: Roboto;
  src: url("../../assets/consultation_03/fonts/Roboto-Regular.ttf")
    format("truetype");
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Tahoma, Arial, Verdana, sans-serif;
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3)), url("../../assets/consultation_03/img/i.webp");
  background-size: cover;
  background-position: center;
  margin: 20px 0;
  background-color: #f4f4f4;
  font-size: clamp(14px, 1.5vw, 16px);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

 /* Шапка */
 header {
  background-color: #2c3e50;
  color: white;
  padding: 1.5rem 0;
  text-align: center;
  width: min(95%, 1050px);
  margin: 30px auto 0;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-image: url("../../assets/images/head_background.jpg");
  background-size: cover;
}

header .container {
  width: min(95%, 1050px);
  margin: auto;
}

/* Меню */
.main-nav {
  background-color: #34495e;
  width: min(95%, 1050px);
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-nav li {
  margin: 0;
}

.main-nav a {
  display: block;
  padding: 1rem 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.main-nav a:hover {
  background-color: #2c3e50;
}

main {
  width: min(95%, 1050px);
  flex-grow: 1;
  background-color: #ffffff;
  padding: 50px;
  margin: 3px auto 3px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  background: #22c1c3;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 26%,
    rgba(87, 192, 159, 1) 37%,
    rgba(253, 45, 45, 0.63) 95%
  );
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 48px;
  background: #00ff00;
  background: linear-gradient(to left, #00ff00 0%, #ff0000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.photo {
  min-width: 45%;
  height: auto;
  aspect-ratio: 16 / 9;
  transition: all 0.9s ease;
  margin: 10px;
  background-color: orange;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.photo:hover {
  transform: scale(1.5) rotate(6deg);
  height: auto;
}

.photo1 {
  background-image: url(../../assets/consultation_03/img/img1.jpeg);
}
.photo2 {
  background-image: url(../../assets/consultation_03/img/img2.jpeg);
}
.photo3 {
  background-image: url(../../assets/consultation_03/img/img3.jpeg);
}
.photo4 {
  background-image: url(../../assets/consultation_03/img/img4.jpeg);
}
.photo5 {
  background-image: url(../../assets/consultation_03/img/img5.jpeg);
}
.photo6 {
  background-image: url(../../assets/consultation_03/img/img6.jpeg);
}
.photo7 {
  background-image: url(../../assets/consultation_03/img/img7.jpeg);
}
.photo8 {
  background-image: url(../../assets/consultation_03/img/img8.jpeg);
}
.photo9 {
  background-image: url(../../assets/consultation_03/img/img9.jpeg);
}
.photo10 {
  background-image: url(../../assets/consultation_03/img/img10.jpeg);
}
.photo11 {
  background-image: url(../../assets/consultation_03/img/img11.jpg);
}
.photo12 {
  background-image: url(../../assets/consultation_03/img/img12.jpeg);


} /* Футер */
footer {
  text-align: center;
  font-size: 0.9rem;
  color: white;
  background-color: #34495e;
  min-height: 100px;
  width: min(95%, 1050px);
  margin: auto auto 30px;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
  padding: 2rem 0;
}

.to-top {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #2c3e50;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.to-top:hover {
  background-color: #1a252f;
}
hr {
  border: none;
  border-top: 3px solid #000000;
}

/* Плавный скролл по якорю */
html {
  scroll-behavior: smooth;
}
